.Mypage-header
  %nav.bread-crumbs
    %ul.Itemscop
      %li.bread-crumbs-item
        = link_to "FURIMA", "#", class: "unit"
      %li.bread-crumbs-item
        %i.fa.fa-angle-right
      %li.bread-crumbs-item
        = link_to "マイページ", "#", class: "unit"