.Window
  .Head
    = link_to (image_tag "/material/logo/logo.png", alt: 'logo', class: "logo-furima"), root_path
  .FormBox
    .Confirmation
      %h2 購入が完了しました。
      .Purchase--btn
        = link_to "トップページに戻る", root_path, class: "purchase"
=render "products/footer"