.rogout{
  padding: 20px;              
  background-color: #3CCACE;   
  display:  table-cell;      
  vertical-align:  middle;   
  height: 200px;              
  width: 640px;
  &__bottan{
    height: 100px;
    width: 250px;
    border: 0;
    cursor: pointer;
    background-color: #3CCACE;
    padding: 70px 20px 20px 60px;
    margin: auto;
    &__logo {
      margin:0;
      padding: 0;
      height: 59px;
      width: 20px;
      background-color: #3CCACE;
    }
  }
}
