.Mypage-header{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 1;
  .bread-crumbs{
    height: 55px;
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    z-index: 1;
    display: flex;
    .Itemscop{
      width: 1020px;
      margin: 0 auto;
      padding: 16px 0;
      font-size: 14px;
      line-height: 1.2;
      text-decoration: none;
      .bread-crumbs-item{
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        margin-left: 8px;
        .unit{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.Mypage-main{
  font-size: 14px;
  background: #f5f5f5;
  height: 1580px;
  position: relative;
  display: flex;
  .l-content{
    width: 670px;
    padding-top: 40px;
    position: absolute;
    right: 220px;
    .mypage-user-icon{
      height: 200px;
      margin-top: 0px;
      background-color: #3CCACE;
      .background{
        width: 100%;
        display: flex;
        justify-content: center;
        .icon{
          width: 50px;
          margin-top: 50px;
        }
      }
      .user-name{
        display: flex;
        justify-content: center;
        margin: 5px;
      }
      .mypage-number{
        display: flex;
        justify-content: center;
        div{
          margin: 5px 5px;
        }
      }
    }
    .mypage-tab{
      background: #fff;
      display: flex;
      .mypage-tab-container{
        background: #eee;
        width: 50%;
        height: 60px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #3CCACE;
      }
    }
    .mypage-container{
      margin: 40px 0 0;
      background: #fff;
      .mypage-tab-head{
        padding: 0 16px;
        height: 80px;
        border-bottom: 1px solid #3CCACE;
        font-size: 20px;
        display: flex;
        align-items: center;
      }
      .mypage-tabs{
        display: flex;
        .active{
          background: #fff;
          width: 50%;
          height: 60px;
          font-size: 18px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        li{
          background: #eee;
          width: 50%;
          height: 60px;
          font-size: 18px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .tab-content{
        height: 200px;
        padding: 10px;
      }
    }
    .l-chapter-container{
      background: #fff;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      .session{
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        height: 60px;
        width: 300px;
        margin: 10px auto;
        border-radius: 6px;
        display: block;
        text-decoration: none;
        padding: 15px 100px;
        font-size: 16px;
      }
    }
  }
}

.l-side{
  margin: 0px auto 0;
  padding-top: 40px;
  position: absolute;
  left: 220px;
  &__list{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    .mypage-nav{
      display: block;
      .mypage-nav-list{
        display: block;
        li{
          display: list-item;
          border-bottom: 1px solid #eee;
          .mypage-nav-list-item{
            position: relative;
            display: block;
            min-height: 40px;
            padding: 14px;
            background: #fff;
            font-size: 14px;
            color: #333;
            text-decoration: none;
            i{
              position: absolute;
              top: 50%;
              right: 16px;
              color: black;
            }
          }
        }
      }
      .mypage-nav-head{
        font-weight: bold;
        margin: 40px 0 5px;
        font-size: 16px;
      }
    }
  }
}
