= render "card_header"
.Single
  .Single__main
    .chapter-head
      削除が完了しました。
    %ul.form-tag
      %li.add
        = link_to "クレジットカード新規登録", new_card_path, class: "token-submit", id: "LinkBtn"
= render "card_footer" 